# Ignore dependencies
node_modules/
build/
Backup/
dist/
Me3_Manager-x86_64.zip
Me3_Manager-x86_64.AppImage

# Ignore Python cache
__pycache__/
# Ignore OS / editor junk
.DS_Store
*.log
*.tmp
*.bak
.env
change.txt
