[Desktop Entry]
Categories=Utility
Comment[en_US]=
Comment=
Exec=Me3_Manager
GenericName[en_US]=
GenericName=
Icon=Me3_Manager
MimeType=
Name[en_US]=Me3_Manager
Name=Me3_Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
